/* Start global style */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root{
    --main-color: #10cab7;
    --section-background:#f6f6f6;
}

*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}
body{
    font-family: "Work Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}

.container{
     
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Start Component */
.special-heading{
    font-size: 100px;
    color: #ebeced;
    text-align: center;
    letter-spacing: -4px;
    font-weight: 800;
    margin: 0;
}
.special-heading + p{
    font-size: 20px;
    text-align: center;
    margin: -30px;
    color: #797979;
}

@media(max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}

/* Ene Component */

/* Mediea query */

/* Small */
@media (min-width:768px){
    .container{
        width: 750px;
    
    }
}

/* Medium */

@media (min-width:992px) {
    .container{
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* End global style */

/* Start .header */
.header{
    padding: 20px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header .logo{
    width: 60px;
}

.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    

    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    cursor: pointer;
    

}

.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
     
    width: 100%;
}
.header .links .icon span:nth-child(2) {
   
    width: 60%;
    transition: all .3s;
}
.header .links .icon span:last-child {
    
    width: 100%;
}

.header .container .links:hover .links .icon span:nth-child(2){
    width: 100%;
}
.header ul{
    background-color: #f6f6f6;
    
    min-width: 200px;
    position: absolute;
    right: 0;
    
    margin: 0;
    padding: 10px 15px;
    top: 29px;
    transition: all .3s;
    display: none;
    z-index: 5;
}
.header ul::before{
    content: "";
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    position: absolute;
    right: 0;
    top: -18px;

}
.header ul li a{
    display: block;
    padding: 15px;
    color: #333;
    transition: all .3s;
    font-size: 18px;
    
}
.header ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom:2px solid #ddd;
}
/* End .header */



/* Start Landing Page */

.landing{
    background-image: url(/img/this.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;

}
.landing .intro-text{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;

}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* End Landing Page */


/* Start Features */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
 
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 20px;
}
.feat{
    text-align: center;

}
.feat i{
    color: var(--main-color);
    font-size: 30px;
}
.feat h3{
    font-weight: 800;
    margin:20px ;
}
.feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End Features */

/* Start Services */
.services{
   padding-top: 60px;
   padding-bottom: 60px;
}
.services .content-services{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.content-services .srv{
    display: flex;
    margin-bottom: 60px;
    
}
@media(max-width:767px){
    .content-services .srv{
        flex-direction: column;
        text-align: center;
    }
    
}
.services .col .srv i{
    color: var(--main-color);
    font-size: 25px;
    flex-basis: 60px;
}
.services .col .srv .text{
    flex:1;
    
}
.services .col .srv .text h3{
    margin: 0 0 20px ;
    font-weight: 800;
    
}
.services .col .srv .text p{
    color: #777;
    line-height: 1.8;
}
.services .col .image{
    position: relative;
    text-align: center;
    align-items: center;
}
.services .col .image::before{
    content: "";
    background-color: #333;
    position: absolute;
    right: 2px;
    width: 80px;
    height: calc(100% + 50px);
    top: -25px;
    padding-top: 25px;
    z-index: -1;
}
.services .col .image img{
    width: 300PX;
    padding-top: 25px;
    
}
@media(max-width:1200px){
    .image-column{
        display: none;
    }
}

/* End Services */

/* Start Portofolio */

.portofolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:var(--section-background);
}


.portofolio .content-portofolio{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.portofolio .content-portofolio .card{
    background-color: #fff;

}
.portofolio .content-portofolio .card:hover{
    scale: 1;
}
.portofolio .content-portofolio .portofolio-info{
    padding: 20px;
}
.portofolio .content-portofolio .portofolio-info h3{
    margin: 0;
}
.portofolio .content-portofolio .portofolio-info p{
    color: #777;
    line-height: 1.8;
    margin: 0;
}
.content-portofolio img{
    width: 100%;
    border-radius: 5px;
}
/* End Portofolio */

/* Start About */


.about{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
}
.about .content-about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 200px;

}
@media(max-width:991px){
    .about .content-about{
        flex-direction: column;
        text-align: center;

    }
}
.about .content-about .image{
    width: 260px;
    
    margin-left: 200px;
    position: relative;
    z-index: 1;
}
.about .content-about .image::before{
    content: '';
    position: absolute;
    width: 100px;
    background-color: #ebeced;
    height: calc(100% + 100px);
    top: -50px;
    border-radius: 5px;
    left: -49px;
    z-index: -1;
}
.about .content-about .image::after{
    content: '';
    position: absolute;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    height: 75%;
    width: 100px;
    top: -25px;
    right: -128px;
    border-radius: 5px;
    z-index: -1;
}
@media(max-width:991px){
    .about .content-about .image::before,
    .about .content-about .image::after{
        display: none;
    }
    .about .content-about .image{
        margin:0 auto 50px
    }
  

}
.about .content-about img{
    max-width: 100%;
    border-radius: 5px;
}
.about .content-about .about-info{
    
    flex: 1;
    padding-left: 240px;
    padding-bottom: 80px;
}
@media(max-width:991px){
    .about .content-about .about-info{
        padding-left: 0;
    }
}
.about .content-about .about-info p:first-of-type {
    line-height: 2;
    font-weight: 800;
    margin-bottom: 50px;
    
}
.about .content-about .about-info hr {
 
    display: inline-block;
    width: 50%;
    background-color: var(--main-color);
    height: 3px;
    border-radius: 5px;

    
}
.about .content-about .about-info p:last-of-type {
    line-height: 2;
    color: #777;
    
    
}

/* End About */

/* Start Contact */
.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
}
.contact .contact-content{
    text-align: center;
    margin-top: 100px;
    
}
.contact .contact-content p{
    font-weight: 800;
    font-size: 35px;
    color: #797979;
    letter-spacing: -2px;
    margin-bottom: 20px;
}
.contact .contact-content a{
    display: block;
    font-size: 35px;
    color: var(--main-color);
    font-weight: 800;
    letter-spacing: -2px;
    


}
.contact .contact-content .social{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact .contact-content .social {
    font-size: 19px;
    font-weight: 500;
    margin-top: 25px;
}
.contact .contact-content .social  i{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 19px;

}
/* End Contact */

/* Start Footer */
footer{
    text-align: center;
    background-color: darkslategrey;
    padding: 20px;
    color: #fff;
    font-weight: 600;
}
footer span{
    color: var(--main-color);
}
/* End Footer */


